<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    <input type="text" name="name" placeholder="Название продукта">
    <input type="text" name="protein" placeholder="Белки">
    <input type="text" name="fats" placeholder="Жиры">
    <input type="text" name="carbohydrates" placeholder="Углеводы">
    <input type="text" name="calories" placeholder="Калории">
    <input type="submit" value="Add product">
</form>
</body>
</html>