<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Title</title>
</head>
<body>
<a href="http://127.0.0.1:5000/new_product"><button>Добавить новый продукт</button></a>
{%for product in products%}
<ul>
    <li>Название: {{product.name}}</li>
    <li>Белки: {{product.protein}}</li>
    <li>Жиры: {{product.fats}}</li>
    <li>Углеводы: {{product.carbohydrates}}</li>
    <li>Калорийность: {{product.calories}} ккал</li>
</ul>
{% endfor %}
</body>
</html>